.footer {
    background-color: var(--n-400);
    color: var(--n-100);
}

.footer_component {
    grid-column-gap: 6rem;
    grid-row-gap: 3rem;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    display: grid;
}

.footer_absolute {
    border-top: 1px solid var(--accent);
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
}

.footer_logo-link {
    color: var(--n-100);
}

    .footer_logo-link:hover {
        color: var(--accent);
    }

.footer_menu-wrap {
    display: flex;
}

.footer_social-wrap {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.footer_subscribe-wrap {
    flex-direction: column;
}

.footer_contact-wrap {
    grid-column-gap: 2rem;
    justify-content: space-between;
    display: flex;
}

.footer_logo {
    height: 3rem;
}

.footer_menu-column {
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    max-width: 10rem;
    display: flex;
}

.footer_link {
    color: var(--n-100);
    text-transform: capitalize;
    font-weight: 300;
    text-decoration: none;
}

    .footer_link:hover {
        color: var(--accent);
    }

    .footer_link.is-email {
        text-transform: none;
    }

    .footer_link.extra-margin-left {
        margin-left: 2rem;
    }

    .footer_link.bold {
        font-weight: 500;
    }

.footer_social-link {
    background-color: var(--n-100);
    color: var(--n-400);
    border-radius: 100%;
    padding: .8rem;
}

    .footer_social-link:hover {
        color: var(--accent);
    }

.footer-icon {
    background-color: var(--n-400);
    mask-size: contain;
    -webkit-mask-size: contain;
    transition: background-color 0.3s;
}

    .footer-icon:hover {
        background-color: var(--accent);
    }

.twitter-icon {
    -webkit-mask: url('/assets/img/icons/twitter.svg') no-repeat center;
    mask: url('/assets/img/icons/twitter.svg') no-repeat center;
}

.facebook-icon {
    -webkit-mask: url('/assets/img/icons/facebook.svg') no-repeat center;
    mask: url('/assets/img/icons/facebook.svg') no-repeat center;
}

.instagram-icon {
    -webkit-mask: url('/assets/img/icons/instagram.svg') no-repeat center;
    mask: url('/assets/img/icons/instagram.svg') no-repeat center;
}

.linkedln-icon {
    -webkit-mask: url('/assets/img/icons/linkedln.svg') no-repeat center;
    mask: url('/assets/img/icons/linkedln.svg') no-repeat center;
}

.footer_subscribe-form {
    grid-column-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.footer_contact-links-wrap {
    grid-row-gap: .5rem;
    flex-direction: column;
    align-items: flex-end;
    min-width: 12rem;
    display: flex;
}

.footer_social-link img, svg {
    vertical-align: baseline !important;
}


@media screen and (max-width: 991px) {
    .footer_component {
        grid-column-gap: 2.5rem;
        grid-row-gap: 2.5rem;
    }

    .footer_social-wrap {
        flex-wrap: wrap;
    }

    .footer_contact-links-wrap {
        min-width: 10rem;
    }  
}

@media screen and (max-width: 767px) {
    .footer_component {
        grid-template-columns: 1fr;
    }

    .footer_subscribe-wrap {
        max-width: 30rem;
    }

    .footer_contact-wrap {
        grid-row-gap: .5rem;
        flex-direction: column-reverse;
    }

    .footer_contact-links-wrap {
        align-items: flex-start;
    }
}

@media screen and (max-width: 479px) {
    .footer_subscribe-wrap,
    .footer_contact-wrap {
        max-width: 85%;
    }

    .footer_subscribe-form {
        grid-row-gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }  
}